@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-mainBackgroundColor: #efefef;
  --color-columnBackgroundColor: #1e2c39;
  --font-sans: 'Mona Sans', sans-serif;
  --font-serif: 'DM Serif Text', serif;
}

html,
body {
  background-color: #efefef;
  color: #161c22;
}

.add-column {
  @apply h-[40px] sm:h-[60px] w-[150px] sm:w-[200px] sm:min-w-[200px] cursor-pointer rounded-lg bg-[#323334] text-white border-[#161C22] p-3 sm:p-4 ring-emerald-300 hover:ring-2 flex justify-between items-center;
}
